.usersContainer {
  grid-area: users;

  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-sm);
  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid var(--color-grey-100);
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-grey-800);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 100%;
  min-width: 400px;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding-top: 1.6rem;
  border-top: 1px solid var(--color-grey-100);
}

.paginationText {
  font-weight: 500;
  color: var(--color-grey-600);
  min-width: 120px;
  text-align: center;
}
