.company {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
  gap: 1.6rem;

  padding: 1.2rem 1.6rem;
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-sm);

  cursor: pointer;
  transition: all 0.2s;
}

.company:hover {
  background-color: var(--color-grey-200);
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
}

.company div:nth-child(1) {
  font-weight: 600;
  color: var(--color-grey-700);
}

.company div:nth-child(2) {
  color: var(--color-grey-600);
}

.company div:nth-child(3) {
  font-weight: 500;
  color: var(--color-grey-700);
  text-align: right;
}
