.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  grid-row: 1 / 2;
}

.logo {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-grey-800);
  cursor: pointer;
}
