.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  width: 30rem;
}

.close {
  font-size: 36px;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}
