.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  max-width: 500px;
  margin: 2rem auto;

  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-sm);
  padding: 3.2rem;
}

.avatarContainer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid var(--color-brand-100);
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatarBtns {
  display: flex;
  gap: 1.2rem;
}

.userName {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-grey-800);
  margin-top: 1rem;
}

.userRole {
  font-weight: 500;
  color: var(--color-grey-600);
  background-color: var(--color-grey-100);
  padding: 0.4rem 1rem;
  border-radius: var(--border-radius-lg);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.changeBtns {
  display: flex;
  gap: 1.2rem;

  margin-top: 1.6rem;
  padding-top: 2.4rem;
  border-top: 1px solid var(--color-grey-100);
  width: 100%;
  justify-content: center;
}
