.full {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.small {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
