.signInForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 20%;
  min-width: 200px;
  max-width: 400px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.inputContainer input {
  font-family: inherit;
  font-weight: 400;
  color: var(--color-grey-900);
  width: 100%;

  padding: 0.6rem 1rem;
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-200);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
}

/* .submitBtn {
  align-self: center;

  border: none;
  width: 70%;
  min-width: 150px;
  max-width: 250px;
  padding: 5px;
  background-color: var(--color-grey-300);
  border-radius: 1rem;
}

.submitBtn:hover {
  background-color: var(--color-grey-400);
  transition: background-color 0.5s;
} */
