.primary {
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);

  padding: 0.4rem 0.8rem;
  transition: all 0.2s ease-in-out;

  background-color: var(--color-brand-600);
  color: var(--color-brand-50);
}

.primary:hover {
  background-color: var(--color-brand-700);
}

.secondary {
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);

  padding: 0.4rem 0.8rem;
  transition: all 0.2s ease-in-out;

  background-color: var(--color-grey-0);
  color: var(--color-grey-700);
  border: 1px solid var(--color-grey-200);
}

.secondary:hover {
  background-color: var(--color-grey-50);
}

.danger {
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);

  padding: 0.4rem 0.8rem;
  transition: all 0.2s ease-in-out;

  background-color: var(--color-red-700);
  color: var(--color-red-100);
}

.danger:hover {
  background-color: var(--color-red-800);
}
