.homeContainer {
  height: 100dvh;
  width: 100dvw;
  background-color: var(--color-brand-50);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.startBtn {
  font-size: larger;
  max-width: 300px;
  min-width: 100px;
  width: 10%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  background-color: var(--color-green-700);
}

.startBtn:hover {
  background-color: var(--color-green-100);
  transition: background-color 0.5s;
}

.homeHeader {
  font-size: 36px;
}
