.passwordContainer {
  max-width: 600px;
  margin: 2rem auto;

  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-sm);
  padding: 3.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.header {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-grey-800);
  margin-bottom: 0.8rem;
}

.formGroup {
  display: grid;

  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1.6rem;
  position: relative;
}

.formGroup label {
  font-weight: 500;
  color: var(--color-grey-700);
}

.formGroup input {
  font-family: inherit;
  font-weight: 400;
  color: var(--color-grey-900);
  width: 100%;

  padding: 0.6rem 1rem;
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-200);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
}

.error {
  font-size: 0.8rem;
  color: var(--color-red-700);

  grid-column: 2 / 3;
  margin-top: -1rem;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;

  margin-top: 1.6rem;
  padding-top: 1.6rem;
  border-top: 1px solid var(--color-grey-100);
}
