.dashboardContainer {
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.dashboardHeader {
  grid-row: 1 / 2;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.statsContainer {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.statBox {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1.6rem 1.8rem;
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-sm);
}

.statBox label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-grey-500);
  text-transform: uppercase;
}

.paginationContainer {
  grid-row: 3 / 4;
  justify-self: center;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  padding: 0.8rem;
  border-top: 1px solid var(--color-grey-100);
}

.paginationText {
  font-weight: 500;
  color: var(--color-grey-600);
  min-width: 120px;
  text-align: center;
}

.companyList {
  grid-row: 2 / 3;
  justify-self: center;

  width: 100%;
  min-width: 400px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
