.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  max-height: 80vh;
  overflow-y: auto;
  padding-right: 1rem;
}

.header {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-grey-800);
  margin-bottom: 0.8rem;
}

.formGroup {
  display: grid;

  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1.6rem;
}

.formGroup label {
  font-weight: 500;
  color: var(--color-grey-700);
}

.formGroup input {
  font-family: inherit;
  font-weight: 400;
  color: var(--color-grey-900);
  width: 100%;

  padding: 0.6rem 1rem;
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-200);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
}

.input::placeholder {
  color: var(--color-grey-400);
}

.fileInput {
  font-family: inherit;
  font-size: 0.9rem;
  color: var(--color-grey-700);
  width: 100%;
}

.fileInput::file-selector-button {
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-grey-200);
  background-color: var(--color-grey-50);
  cursor: pointer;
  margin-right: 1rem;
}

.fileInput::file-selector-button:hover {
  background-color: var(--color-grey-100);
}

.submitButton {
  align-self: center;
  margin-top: 1.6rem;
}
