.error {
  color: var(--color-red-700);
  background-color: var(--color-red-100);
  border: 1px solid var(--color-red-700);

  padding: 1.6rem 2.4rem;
  border-radius: var(--border-radius-md);

  text-align: center;
  max-width: 600px;
  margin: 2.4rem auto;

  font-weight: 500;
}
