.noDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  padding: 3.2rem;
  text-align: center;

  background-color: var(--color-grey-0);
  border: 2px dashed var(--color-grey-200);
  border-radius: var(--border-radius-md);
}

.message {
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--color-grey-600);
}
