.notFoundContainer {
  margin: 4.8rem auto;
  width: fit-content;

  padding: 3.2rem 4.8rem;
  text-align: center;
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-sm);
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-grey-700);
}
