.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 2rem;
}

.backButton {
  font-size: 36px;
  align-self: flex-start;
  padding: 0 1rem;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  max-width: 500px;
  align-self: center;
  width: 100%;

  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-sm);
  padding: 3.2rem;
}

.avatarContainer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid var(--color-brand-100);
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userName {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-grey-800);
}

.userEmail {
  font-size: 1rem;
  color: var(--color-grey-600);
  margin-top: -1rem;
}

.btnsContainer {
  display: flex;
  gap: 1.2rem;

  margin-top: 1.6rem;
  padding-top: 2.4rem;
  border-top: 1px solid var(--color-grey-100);
  width: 100%;
  justify-content: center;
}
