.layout {
  display: grid;
  grid-template: 10% 90% / 20% 80%;

  height: 100dvh;
}

.header-layout {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  background-color: beige;
}

.sidebar-layout {
  grid-column: 1 /2;
  grid-row: 2 / 3;

  background-color: azure;
}

.main-layout {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  background-color: antiquewhite;
}
